/*  your css code here. If applicable */
html{
	background-color:#f8f8f8;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
	border-radius:10px;
	height:350px;
	 box-shadow: 10px 10px 20px #aaaaaa;
}
hr{
	height:8px;
	background-color:white;
	border:none
}
.book-library{
	background-color:#ffffff;
	 box-shadow: 10px 10px 50px #aaaaaa;
	width:800px
}
.btn{
	background-color: #2ecc71;
	text-align:center;
	width:700px;
	padding-left: 5px;
	border-radius:3px;
	color:white;
	border:none;
	box-shadow: 10px 10px 50px #aaaaaa;
}
.btn:hover{
	background-color:cyan;
}
.author{
	color:#777777;
}